*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 140%;
    color: #1f1e1e;


}
a{
    color: inherit;
    text-decoration: none;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
}
.header{
    background-image: url(../images/header_bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.header__inner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px 0 49px;
}
.header__phone{
    color: #fff;
    font-size: 16px;
    line-height: 130%;
    font-weight: 700;
}
.header__phone-number{
    font-weight: 400;
    margin-left: 19px;
    padding: 12px 31px 13px;
    background-color: #886239;
    border-radius: 22px;

}
.menu{
    width: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-top: 15px;
    padding: 27px 0 24px;
}
.menu__list{
    display: flex;
    align-items: center;
    font-style: 16px;
    color: #fff;
    justify-content: space-evenly;

}
.header__title{
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 90px;
    line-height: 130%;
    text-align: center;
    margin-bottom: auto;
}
.header__descr{
    font-weight: 700;
    font-size: 20px;
    max-width: 420px;
    margin-bottom: -20px;

}
.header__btn{
    display: inline-block;
    font-size: 18px;
    color: 18px;
    padding: 19px 55px 20px;
    background: #886239;
    border-radius: 30px;
    margin-bottom: 10px;
    margin-top: 40px;
}
.header__arrow{
    text-align: center;
    margin-bottom: 15px;
    cursor: pointer;
}
.direction{
    padding: 100px 0;

}
.direction__inner{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
}
.description__text{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border: 1px solid #D9D9DE;
    border-top: none;
    padding: 12px 19px 14px;
}
.direction__img{
    display: block; 
}
.travel__info{
    background-image: url(../images/travel_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 30px 0 50px;
}
.travel__info-title{
    color: #fff;
    margin-bottom: 50px;

}
.title{
    text-align: center;
    font-weight: 500;
    font-size: 36px;
    line-height: 130%;

}
.travel__info-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 54px 67px;

}
.travel__info-img{
    margin-bottom: 15px;


}
.travel__info-text{
    color: #fff;
    font-size: 16px;
    line-height: 130%;

}
.popular{
    padding: 100px 0;

}
.popular__title{
    margin-bottom: 40px;
}
.popular__items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr );
    grid-gap: 32px;
}
.popular__link{
    color: #fff;
    padding: 16px 24px 19px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 256px;
    line-height: 130%;
}
.popular__link:nth-child(3),
.popular__link:nth-child(6){
    grid-column: span 2;
    grid-row: span 2;
}
.popular__link-title{
    font-weight: 500;
    margin-bottom: 15px;
}
.popular__link-title_big{
    font-size: 24px;
    line-height: 140%;
    
}
.popular__price{
    font-weight: bold;
    font-size: 16px;
    margin-top: auto;
    
}
.popular__country,
.popular__time{
    margin-bottom: 15px;
}
.map{
    padding-bottom: 100px;
}
.map__title{
    margin-bottom: 46px;    
    margin-top: 46px;    
}
.about{
    padding-bottom: 100px;
}
.about__inner{
    display: grid;
    grid-template-columns: 448px 640px;
    grid-gap: 32px;
}
.about__title{
    text-align: left;
    margin-bottom: 25px;
}
.about__text{
    text-align: left;
    margin-bottom: 34px;
}
.about__link{
    font-size: 16px;
    line-height: 19px;
    color: #c4c4c4;
    text-decoration: underline;
}
.about__video{
    background-image: url(../images/video_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery{
    padding: 50px 0 105px;
    background-image: url(../images/gallery-bg.jpg);
    color: #fff;
}
.gallery__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    padding-right: 160px;
}
.gallery__link{
    font-style: 16px;
    text-decoration: underline;
    line-height: 19px;
}
.gallery__item-inner{
    display: grid;
    grid-gap: 32px;
    grid-template-columns: repeat(3, 1fr);
}
.slick-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: -85px;
    right: 0;
}
.slick-prev{
    right: 60px;
}
.tour{
    padding: 100px 0;
}
.tour__text{
    margin-bottom: 15px;
}
.tour__text span{
    font-weight: 700;
}
.tour__box{
    column-count: 2;
    column-gap: 46px;
    border-bottom: 1px solid #D9D9DE;
    padding-bottom: 50px;
    margin-bottom: 44px;
}
.tour__info{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 70px;
}
.tour__info-item{
    font-family: 'PT Serif',serif;
    font-weight: bold;
    font-size: 58px;
    line-height: 60px;
    color: #886239;
    text-align: center;

}
.tour__info-text{
    font-family:'Roboto', serif;
    font-size: 20px;
    font-weight: 500;
    color: #1f1e1e;
    line-height: 25px;
}
.tour__title{
    margin-bottom: 77px;
}
.booking{
    background:#EAEAEA;
    padding: 75px 0;
}
.booking__title{
    margin-bottom: 43px;
}
.booking__form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.booking__input{
    width: 256px;
    height: 44px;
    border: 1px solid #D9D9DE;
    padding: 11px 14px 12px;
    margin-bottom: 28px;
    font-size: 16px;
}
.booking__input::placeholder,
.booking__area::placeholder{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #c4c4c4;
}
.booking__area{
    width: 100%;
    padding: 14px;
    height: 112px;
    border: 1px solid #D9D9DE;
    resize: none;
    margin-bottom: 67px;
}
.booking__btn{
    background: #886239;
    border-radius: 30px;
    border:none;
    font-size: 18px;
    color: #fff;
    min-height: 40px;
    min-width: 80px;
    padding: 19px 65px 20px;
    cursor: pointer;
}
.booking__label{
    font-size: 16px;
    line-height: 130%;
    text-decoration: underline;
}
.booking__checkbox{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0 );
}
.booking__checkbox-style{
    width: 26px;
    height: 26px;
    border: 2px solid #c4c4c4;
    border-radius: 2px;
    margin-left: -45px;
    position: absolute;
}
.booking__checkbox:checked + .booking__checkbox-style::before{
    content: '';
    position: absolute;
    width: 18px;
    background-color: #c4c4c4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.footer{
    background: #1f1e1e;
    padding: 80px 0;
}
.footer__logo{
    text-align: center;
    margin-bottom: 70px;

}
.footer__box{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 130%;
    max-width: 830px;
    margin: 0 auto;
    color: rgba(255, 255, 255, .8);
}
.footer__info{
    width: 225px;
}
.footer__box-title{
    margin-bottom: 7px;
    font-weight: 500;
    color: #fff;
}
.footer__copy{
    margin-bottom: 3px;
}
.footer__link{
    text-decoration: underline;
}
.footer__address{
    width: 165px;
    margin-bottom: 5px;
}
.footer__contacts{
    width: 210px;
    margin-bottom: 5px;
}
.footer__mail{
    display: block;
}

@media (max-width: 800px){
    .header__phone span{
        display: none;
    }
}
@media (max-width: 560px){
    .header__phone span{
        display: none;
    }
}
/* .menu__btn{
    display: inline-block;

}
.logo{
    width: 100%;
    margin-bottom: 30px;
}
.header__top{
    justify-content: center;
} */


